@import url("https://fonts.googleapis.com/css2?family=Inika&family=Inter:wght@400;800&family=Kumbh+Sans:wght@700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

/* Fitur Kelas */
.fitur-wrapper .heading {
  text-align: center;
  font-family: "Kumbh Sans", sans-serif;
  padding: 2em 0;
}

.fitur-fitur {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.fitur {
  width: 32%;
  box-shadow: 0px 9px 36px -5px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  padding: 2%;
  height: 500px;
  transition: all .5s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fitur-logo, .fitur-desc {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.fitur-logo{
  justify-content: center;
  height: 60%;
}

.fitur-desc {
  justify-content: space-evenly;
  flex: 1;
}

.fitur-title {
  font-size: 1.5rem;
  font-family: "Kumbh Sans", sans-serif;
}

.fitur:hover {
  /* background-color: rgba(64, 123, 255, 0.5); */
  box-shadow: 0px 9px 36px -5px #407cff6b;
}

.txt {
  font-family: "Inter", sans-serif;
  color: #a4a4a4;
}

.fitur-fitur .fa {
  font-size: 150px;
  color: #407bff;
}
/* Fitur Kelas End */

/* Kelas Populer */
.kelas a {
  text-decoration: none;
}

.kelas .judul {
  font-family: "Kumbh Sans", sans-serif;
  text-align: center;
  padding: 2em 0;
}

.kelas .flex-list {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2em;
}

.kelas .flex-list li {
  list-style: none;
}

.kelas .flex-list img {
  width: 420px;
  height: 270px;
  border-radius: 29px;
}

.kelas .flex-list h2 {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 2rem;
}

.kelas .flex-list p {
  font-family: "inter";
  font-size: 1.2rem;
}

.kelas .btn {
  display: inline-block;
  width: 150px;
  height: 50px;
  text-align: center;
  background-color: #fff;
  color: #407bff;
  line-height: 50px;
  border-radius: 50px;
  font-size: 1.2rem;
  border: 1px solid #407bff;
  letter-spacing: 5px;
  transition: all 0.5s;
  margin: 1em 0 0;
}

.kelas .selected {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.kelas .selected p {
  color: #a4a4a4;
}

.kelas .btn:hover {
  background-color: #407bff;
  border: 1px solid #fff;
  color: #fff;
}
/* Kelas Populer End */

/* Testimoni & Langganan */
section {
  margin-bottom: 5vh;
}

section .heading {
  font-family: "Kumbh Sans", sans-serif;
  text-align: center;
  padding: 2em 0;
  font-size: 1.5rem;
}

.container {
  width: 90%;
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1170px;
  min-width: 320px;
}

.comments {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.comment {
  display: flex;
  flex-direction: column;
  width: 32%;
  height: 290px;
  position: relative;
  box-shadow: 0px 9px 36px -5px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  padding: 2%;
  justify-content: space-between;
}

.comment::before {
  content: "“";
  position: absolute;
  top: -16%;
  left: 10%;
  font-family: "Inika", serif;
  font-size: 8rem;
  color: #a4a4a4;
}

.commentxt {
  color: #a4a4a4;
  font-family: "Inter", sans-serif;
  font-size: 0.95rem;
  flex: 1;
  display: flex;
  align-items: center;
  text-align: center;
}

.people {
  display: flex;
  align-items: center;
  justify-content: center;
}

.people img {
  width: 15%;
  border-radius: 100%;
  margin-right: 1em;
}

.people h3 {
  font-family: "Inter", sans-serif;
}

.subscribe {
  display: flex;
  justify-content: center;
}

.input-subs {
  box-shadow: 0px 4px 28px -3px rgba(64, 123, 255, 0.4);
  border-radius: 65px;
  display: flex;
  align-items: center;
  height: 50px;
  width: 50%;
  margin-bottom: 8%;
}

.input-subs svg {
  margin: 0 1.5rem;
  width: 1.5rem;
}

.input-subs input {
  height: 100%;
  flex: 1;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  border: none;
  outline: none;
}

/* Placeholder */
::-webkit-input-placeholder {
  color: #a4a4a4;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}

::-moz-placeholder {
  color: #a4a4a4;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}

::-ms-placeholder {
  color: #a4a4a4;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}

::placeholder {
  color: #a4a4a4;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}
/* End of Placeholder */

.input-subs button {
  color: white;
  background-color: rgba(64, 124, 255, 0.842);
  border-radius: 65px;
  outline: none;
  border: none;
  height: 100%;
  width: 25%;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.5s;
}

.input-subs button:hover {
  background-color: rgba(64, 124, 255, 0.9);
}

.input-subs button:active {
  background-color: rgba(64, 124, 255);
}
/* Testimoni & Langganan End */

/* Footer */
.footer {
  background-color: rgba(64, 124, 255);
  height: max-content;
  color: white;
}

.footer-logo {
  padding: 20px 0px;
  float: left;
  font-size: 50px;
}

.footer-list {
  float: right;
}

.footer-list li {
  list-style: none;
  float: left;
  padding: 30px 30px;
  font-size: 20px;
}

.footer-list li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.clear {
  clear: both;
}
/* Footer End */
