@import url("https://fonts.googleapis.com/css2?family=Inika&family=Inter:wght@400;800&family=Kumbh+Sans:wght@700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

section .heading {
  font-family: "Kumbh Sans", sans-serif;
  text-align: center;
  padding: 2em 0;
  font-size: 1.5rem;
}

.container {
  width: 85%;
  padding: 0 15px;
  margin: 0 auto;
}

.comments {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.comment {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 290px;
  position: relative;
  box-shadow: 0px 9px 36px -5px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  padding: 2%;
  justify-content: space-between;
}

.comment::before {
  content: "“";
  position: absolute;
  top: -16%;
  font-family: "Inika", serif;
  font-size: 8rem;
  color: #a4a4a4;
}

.commentxt {
  color: #a4a4a4;
  font-family: "Inter", sans-serif;
  font-size: 0.95rem;
  flex: 1;
  display: flex;
  align-items: center;
  text-align: center;
}

.people {
  display: flex;
  align-items: center;
  justify-content: center;
}

.people img {
  width: 15%;
  border-radius: 100%;
  margin-right: 1em;
}

.people h3 {
  font-family: "Inter", sans-serif;
}

.subscribe {
  display: flex;
  justify-content: center;
}

.input-subs {
  box-shadow: 0px 4px 28px -3px rgba(64, 123, 255, 0.2);
  border-radius: 65px;
  display: flex;
  align-items: center;
  height: 50px;
  width: 50%;
}

.input-subs svg {
  margin: 0 1.5rem;
  width: 1.5rem;
}

.input-subs input {
  height: 100%;
  flex: 1;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  border: none;
  outline: none;
}

/* Placeholder */
::-webkit-input-placeholder {
  color: #a4a4a4;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}

::-moz-placeholder {
  color: #a4a4a4;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}

::-ms-placeholder {
  color: #a4a4a4;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}

::placeholder {
  color: #a4a4a4;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}
/* End of Placeholder */

.input-subs button {
  color: white;
  background-color: rgba(64, 124, 255, 0.842);
  border-radius: 65px;
  outline: none;
  border: none;
  height: 100%;
  width: 25%;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.5s;
}

.input-subs button:hover {
  background-color: rgba(64, 124, 255, 0.9);
}

.input-subs button:active {
  background-color: rgba(64, 124, 255);
}
